.login__img{
    width: 60%;
    text-align: center;
}

.login__img img{
    width: 70%;
    object-fit: contain;
}

.login__form{
    padding: 50px;
    background-color: #faa935;
    position: relative;
}

.login__container .user{
    width: 80%;
    height: 80px;
    position: absolute;
    top: -9%;
    left: 50%;
    transform: translate(-50%, -9%);
}

.login__form{
    box-shadow: 3px 3px 7px rgb(203, 203, 203);
    margin-top: 100px;
}
.login__form .user img{
    width: 100%;
}

.login__form h2{
    color: white;
}

.login__form input{
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    color: black;
}

.auth__btn{
    background-color: black  !important;
    color: white !important;
    width: 100%;
}

.login__img{
    margin-top: 65px;
}